<label for="{{skill_option}}" class="checkbox-container check-button-default" data-skill="{{skill_name}}">{{ skill_name }}
    <input type="checkbox" id="{{skill_option}}" name="{{skill_option}}" value="{{skill_option}}">
    <span class="checkmark"></span>
</label>