<<<<<<< HEAD
<label for="{{skill_option}}" 
    {{#if has_skill}}
    class="checkbox-container check-button-selected"
    {{else}}
    class="checkbox-container check-button-default" 
    {{/if}} 
    data-skill="{{skill_name}}">{{ skill_name }}
=======
<label for="{{skill_option}}" class="checkbox-container check-button-default" data-skill="{{skill_name}}">{{ skill_name }}
>>>>>>> e6b951d (added new class to style sheet for button default, button selected on the skills container.)
    <input type="checkbox" id="{{skill_option}}" name="{{skill_option}}" value="{{skill_option}}">
    <span class="checkmark"></span>
</label>

